@import "vars";
@import "mixins";
body {
  overflow-x: hidden;
}

#main-visual {
  height: 100vh;
  background-image: url("../images/main/bg_main_visual.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  .mask {
    width: 100%;
    height: 280px;
    position: absolute;
    right: auto;
    left: 20px;
    bottom: 0;
    // overflow: hidden;
    border-radius: 40px 0 0 0;
    .main-mask {
      height: 100%;
    }
    li {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .visual01 {
      background-image: url("../images/main/main_visual_img1.png");
    }
    .visual02 {
      background-image: url("../images/main/main_visual_img2.png");
    }
    .visual03 {
      background-image: url("../images/main/main_visual_img3.jpg");
    }
  }
  > .contents {
    padding: 100px 20px 0 20px;
    width: 100%;
    color: #fff;
    user-select: none;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    .title {
      font-size: clamp(20px, 7.5vw, 32px);
      font-weight: 900;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      user-select: none;
      pointer-events: none;
    }
    .pagination {
      position: absolute;
      margin-top: 0;
      margin-left: 20px;
      top: 300px;
      bottom: auto;
      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        opacity: 1;
        border-radius: 100%;
        background-color: #fff;
        &-active {
          background-color: $point-color;
        }
      }
    }
    .news-and-notice {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
    .news {
      width: 100%;
      word-break: keep-all;
      padding-right: 30px;
      box-sizing: border-box;
      h3 {
        margin-bottom: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 1.25;
        @include ellipsis;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      }
      .desc {
        font-size: 14px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.8);
        @include multiElilipsis;
        br {
          content: "";
        }
      }
    }
    .notice {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -110px;
      .title-box {
        display: none;
        justify-content: space-between;
        margin-bottom: 30px;
        color: #fff;
        h2 {
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
        }
        .view {
          padding-right: 5px;
        }
        i {
          color: $main-color;
        }
      }
      .contents {
        position: relative;
        padding: 15px;
        color: #111;
        background-color: #fff;
        li {
          display: flex;
          align-items: center;
        }
        .date {
          flex-direction: column;
          width: 80px;
          height: 80px;
          overflow: hidden;
          margin-right: 20px;
          font-weight: 700;
          text-align: center;
          color: #fff;
          background-color: $point-color;
          border-radius: 8px;
          @include flex;
          @include longShadow(50, darken($point-color, 30));
          .num {
            display: block;
            font-size: 48px;
          }
        }
        .txt {
          width: calc(100% - 100px);
          font-size: 14px;
          line-height: 1.5;
          h3 {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
            @include ellipsis;
          }
        }
        .btns {
          display: none;
          position: absolute;
          top: 50%;
          right: 30px;
          z-index: 2;
          transform: translateY(-50%);
          i {
            font-size: 17px;
          }
        }
        .fraction-pagination {
          display: none;
          width: auto;
          position: absolute;
          top: 50%;
          right: 110px;
          bottom: auto;
          left: auto;
          font-size: 17px;
          font-weight: 500;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.section {
  padding: 50px 20px;
  .title-box {
    letter-spacing: -0.025em;
    h2 {
      margin-bottom: 30px;
      font-size: clamp(18px, 8vw, 24px);
      line-height: 1.3;
      br {
        content: "";
      }
      strong {
        font-weight: 700;
        color: darken($main-color, 10);
      }
    }
    p {
      margin-bottom: 30px;
      font-size: 14px;
      color: #666;
      line-height: 1.5;
      word-break: keep-all;
    }
  }
  .more {
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
    background-color: darken($main-color, 10);
    &::after {
      display: block;
      font-family: "FontAwesome";
      color: #9cafb8;
      content: "\f061";
    }
  }
}

#research {
  position: relative;
  overflow: hidden;
  padding-top: 160px;
  .title-box {
    text-align: center;
    .btns {
      display: none;
      justify-content: space-between;
      width: 300px;
      margin-left: -30px;
      .btn {
        display: flex;
        justify-content: space-between;
        width: 140px;
        height: 50px;
        padding: 0px 30px;
        font-size: 18px;
        font-weight: 700;
        color: #ccc;
      }
      .btn-prev {
        &::before {
          font-family: "FontAwesome";
          content: "\f060";
        }
      }
      .btn-next {
        &::after {
          font-family: "FontAwesome";
          content: "\f061";
        }
      }
    }
    .more {
      display: none;
    }
  }

  .banner {
    overflow: hidden;
    .mask {
      overflow: hidden;
      li {
        .img-box {
          height: 300px;
          border: 1px solid #ccc;
          background-color: #fff;
          @include flex;
          img {
            height: 60px;
          }
        }
        .txt-box {
          h3 {
            margin-bottom: 20px;
            padding: 20px 0;
            font-size: $h4;
            font-weight: 500;
            border-bottom: 1px solid #ccc;
            @include ellipsis;
          }
          .date {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            color: #aaa;
            i {
              margin-left: 10px;
              font-size: 24px;
              color: darken($main-color, 10);
            }
          }
        }
      }
    }
  }
}

#fund {
  .title-box {
    text-align: center;
    p {
      display: block;
      color: #111;
      padding-left: 150px;
      .fa-solid {
        color: darken($main-color, 10);
      }
    }
  }
  .fund-list {
    border-top: 4px solid #222;
    li {
      padding: 15px;
      border-bottom: 1px solid #ccc;
      &.on {
        .main {
          display: none;
        }
        .contents {
          display: flex;
        }
      }
      .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        p {
          display: flex;
          align-items: center;
          line-height: 1.25;
          &::before {
            content: "";
            display: none;
            width: 4px;
            height: 4px;
            background-color: $main-color;
            margin-right: 15px;
            border-radius: 100%;
          }
        }
        .date {
          margin-top: 10px;
          font-size: 13px;
          font-weight: 500;
          color: #aaa;
          &::before {
            content: "\f017";
            font-family: "FontAwesome";
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
      .contents {
        display: none;
        align-items: center;
        .date {
          width: 80px;
          height: 80px;
          background-color: $main-color;
          color: #fff;
          flex-direction: column;
          @include flex;
          border-radius: 10px;
          font-size: 15px;
          font-weight: 700;
          overflow: hidden;
          line-height: 1.25;
          @include longShadow(50, darken($main-color, 10));
          strong {
            font-size: $h3;
          }
        }
        .txt {
          width: calc(100% - 80px);
          box-sizing: border-box;
          padding-left: 20px;
        }
        a {
          padding: 0 0 0 0px;
          font-size: 14px;
          line-height: 1.5;
          &:hover {
            text-decoration: underline;
          }
          .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px;
          }
          .desc {
            opacity: 0.5;
          }
        }
        .img-box {
          display: none;
          margin-left: auto;
        }
      }
    }
  }
}

.btn-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  background-color: $main-color;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  @include flex;
  z-index: 999;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  opacity: 0;
  transition: all 0.25s ease;
  &.on {
    bottom: 50px;
    transform: scale(1);
    opacity: 1;
  }
}

#about {
  background: url(../images/main/bg_main_about.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      width: 100%;
      line-height: 1.2;
      font-weight: 900;
      font-size: 32px;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding: 30px 0;
      text-align: center;
      br {
        display: block;
      }
    }
    p {
      color: #fff;
      text-align: center;
      width: 100%;
      line-height: 1.25;
      font-size: 15px;
    }
    .since {
      font-weight: 900;
      opacity: 0.5;
      font-size: 15px;
    }
  }
  .organization {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: calc(50% - 10px);
        margin: 5px;
        a {
          display: block;
          background-color: rgba(255, 255, 255, 0.1);
          font-size: 18;
          font-weight: 500;
          height: 120px;
          padding: 20px;
          box-sizing: border-box;
          position: relative;
          line-height: 1.25;
          &:hover {
            background-color: rgba(255, 255, 255, 0.9);
            background-image: url(../images/main/bg_watermark.png);
            background-repeat: no-repeat;
            color: $main-color;
            transition: all 0.25s ease;
            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 3px;
              background-color: $point-color;
              position: absolute;
              left: 0;
              top: 0;
              transition: all 0.25s ease;
            }
          }
          &::after {
            content: "\f055";
            font-family: "FontAwesome";
            font-size: 20px;
            position: absolute;
            right: 20px;
            bottom: 20px;
          }
        }
      }
    }
  }
}

#department {
  .contents-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 80px;
    .contents {
      margin-top: 50px;
      &:nth-child(1) {
        margin-top: 0;
      }
      .title {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        border-bottom: 3px solid #000;
        padding-bottom: 20px;
        margin-bottom: 20px;
        h3 {
          font-size: $h3 - 1px;
          color: #333;
        }
        a {
          color: #aaa;
          &::after {
            content: "\f055";
            font-family: "FontAwesome";
            margin-left: 10px;
            color: $main-color;
            font-size: 23px;
          }
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
        li {
          width: calc(50% - 20px);
          margin: 10px;
          a {
            @include flex;
            flex-direction: column;
            height: 180px;
            border: 1px solid #ddd;
            img {
              width: 60px;
            }
            span {
              margin-top: 20px;
              font-weight: 500;
              color: #666;
            }
          }
        }
      }
    }
  }
  .title-box {
    text-align: center;
  }
}

#community {
  padding-bottom: 100px;
  background: url(../images/main/bg_main_community.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title-box {
    color: #fff;
    position: relative;
    text-align: center;
    br {
      display: block;
    }
  }
  h2 {
    strong {
      color: #fff;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.5);
  }
  .fraction {
    font-size: 13px;
    letter-spacing: 0.025em;
    .number {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .pagination {
    position: relative;
    height: 4px;
    width: 100%;
    margin: 0px;
  }
  .swiper-pagination-progressbar {
    background: rgba(255, 255, 255, 0.5);
    .swiper-pagination-progressbar-fill {
      background: #fff;
    }
  }
  .control {
    display: flex;
    align-items: center;
    .fraction {
      display: none;
    }
    .btn {
      display: none;
    }
  }
  .banner {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    li {
      img {
        margin-top: 50px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 20px;
      }
    }
  }
  .link {
    margin-top: 50px;
    ul {
      li {
        margin: 5px 0;
        &:hover,
        &.on {
          a {
            background-color: #fff;
            color: darken($main-color, 15);
            border-left-color: $point-color;
          }
        }
        a {
          display: flex;
          height: 50px;
          align-items: center;
          background-color: darken($main-color, 15);
          padding-left: 30px;
          transition: all 0.5s ease;
          font-weight: 500;
          font-size: 15px;
          border-left: 5px solid transparent;
        }
      }
    }
  }
}

// @media all and (max-width: 1280px) {

// }
// @media all and (max-width: 640px) {
//   #header {
//     #logo {
//       display: none;
//     }
//     #gnb {
//       .list {
//         flex-direction: column;
//       }
//     }
//   }
// }
