@charset "UTF-8";
body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 16px;
  min-height: 3000px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  transition: all 0.5s ease;
  height: 70px;
}
#header.on {
  background-color: #fff;
  color: #111;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
#header.on #logo #logo-white {
  display: none;
}
#header.on #logo #logo-color {
  display: block;
}
#header #logo {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 20px;
}
#header #logo img {
  height: 30px;
}
#header #logo #logo-color {
  display: none;
}
#header #gnb {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  width: 100vw;
  left: 100%;
  transition: all 0.25s ease;
}
#header #gnb.on {
  left: 0;
}
#header #gnb .list > li {
  position: relative;
  border-bottom: 1px solid #ccc;
}
#header #gnb .list .depth01 {
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 500;
  height: 70px;
  padding: 0 20px;
  transition: all 0.25s ease;
  position: relative;
}
#header #gnb .list .depth01.on i {
  transform: translateY(-50%) rotate(180deg);
}
#header #gnb .list .depth01::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  background-color: #d99400;
  margin-right: 10px;
}
#header #gnb .list .depth01 i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease;
}
#header #gnb .list .depth02 {
  display: none;
  color: #fff;
  padding: 15px 0;
  background-color: #0467b3;
  font-size: 14px;
}
#header #gnb .list .depth02 li a {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}
#header #gnb .list .depth02 li a::before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 100px;
  background-color: #fff;
  margin-right: 10px;
}
#header .util {
  display: none;
  align-items: center;
  height: 120px;
}
#header .util .language {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #ccc;
  transition: all 0.25s ease;
  position: relative;
}
#header .util .language:hover {
  background-color: #0467b3;
  color: #fff;
}
#header .util .language:hover ul {
  opacity: 1;
  top: 60px;
  pointer-events: auto;
}
#header .util .language ul {
  opacity: 0;
  position: absolute;
  width: 100%;
  background-color: #0467b3;
  left: 0;
  top: 80px;
  border-radius: 10px;
  padding: 10px 0;
  color: #fff;
  transition: all 0.25s ease;
  pointer-events: none;
}
#header .util .language ul li a {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
}
#header .util .language button {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 15px;
}
#header .util .language button:before {
  content: "\e894";
  font-family: "Material Icons";
  font-size: 24px;
  font-weight: 400;
  margin-right: 10px;
}
#header .util .all-menu {
  font-size: 24px;
  margin-left: 40px;
}
#header .btn-all {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
}
#header .btn-all.on span:nth-child(1) {
  top: 34px;
  transform: rotate(45deg);
}
#header .btn-all.on span:nth-child(2) {
  top: 34px;
  opacity: 0;
  transform: translateX(-100px);
}
#header .btn-all.on span:nth-child(3) {
  top: 34px;
  transform: rotate(-45deg);
}
#header .btn-all span {
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 20px;
  transition: all 0.25s ease;
}
#header .btn-all span:nth-child(1) {
  top: 24px;
}
#header .btn-all span:nth-child(2) {
  top: 34px;
}
#header .btn-all span:nth-child(3) {
  top: 44px;
}

#footer {
  background-color: #222;
  color: rgba(255, 255, 255, 0.5);
  padding: 50px 20px;
}
#footer .container {
  width: 100%;
  position: relative;
}
#footer .addr-box {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
#footer .addr-box .logo {
  margin-bottom: 30px;
}
#footer .addr-box .logo img {
  width: 200px;
}
#footer .addr-box .tel {
  margin-top: 20px;
}
#footer .addr-box .tel span {
  margin-right: 20px;
}
#footer .addr-box .tel strong {
  font-weight: 500;
  color: #fff;
  margin-right: 10px;
}
#footer .addr-box .fax {
  margin-bottom: 50px;
}
#footer .addr-box .family-site {
  margin-top: 20px;
}
#footer .util-box {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer .util-box .util {
  display: flex;
}
#footer .util-box .util li:nth-child(2) {
  margin-left: 30px;
  color: #fff;
}
#footer .util-box .copyright {
  margin-top: 20px;
  font-size: 13px;
}

.family-site {
  font-size: 14px;
  position: relative;
}
.family-site button,
.family-site li a {
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  border-color: #4d4d4d;
}
.family-site ul {
  position: absolute;
  bottom: 40px;
  margin-bottom: -1px;
  opacity: 1;
  pointer-events: none;
  display: none;
}
.family-site ul li {
  margin-top: -1px;
}
.family-site.on ul {
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
}