body {
  overflow-x: hidden;
}

#main-visual {
  height: 100vh;
  background-image: url("../images/main/bg_main_visual.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-visual .mask {
  width: 100%;
  height: 280px;
  position: absolute;
  right: auto;
  left: 20px;
  bottom: 0;
  border-radius: 40px 0 0 0;
}
#main-visual .mask .main-mask {
  height: 100%;
}
#main-visual .mask li {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-visual .mask .visual01 {
  background-image: url("../images/main/main_visual_img1.png");
}
#main-visual .mask .visual02 {
  background-image: url("../images/main/main_visual_img2.png");
}
#main-visual .mask .visual03 {
  background-image: url("../images/main/main_visual_img3.jpg");
}
#main-visual > .contents {
  padding: 100px 20px 0 20px;
  width: 100%;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}
#main-visual > .contents .title {
  font-size: clamp(20px, 7.5vw, 32px);
  font-weight: 900;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
#main-visual > .contents .pagination {
  position: absolute;
  margin-top: 0;
  margin-left: 20px;
  top: 300px;
  bottom: auto;
}
#main-visual > .contents .pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  border-radius: 100%;
  background-color: #fff;
}
#main-visual > .contents .pagination .swiper-pagination-bullet-active {
  background-color: #ffc240;
}
#main-visual > .contents .news-and-notice {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#main-visual > .contents .news {
  width: 100%;
  word-break: keep-all;
  padding-right: 30px;
  box-sizing: border-box;
}
#main-visual > .contents .news h3 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 1.25;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
#main-visual > .contents .news .desc {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3em;
  line-height: 1.5;
}
#main-visual > .contents .news .desc br {
  content: "";
}
#main-visual > .contents .notice {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -110px;
}
#main-visual > .contents .notice .title-box {
  display: none;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #fff;
}
#main-visual > .contents .notice .title-box h2 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
#main-visual > .contents .notice .title-box .view {
  padding-right: 5px;
}
#main-visual > .contents .notice .title-box i {
  color: #0467b3;
}
#main-visual > .contents .notice .contents {
  position: relative;
  padding: 15px;
  color: #111;
  background-color: #fff;
}
#main-visual > .contents .notice .contents li {
  display: flex;
  align-items: center;
}
#main-visual > .contents .notice .contents .date {
  flex-direction: column;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #ffc240;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 0px #a67100,2px 2px 0px #a67100,3px 3px 0px #a67100,4px 4px 0px #a67100,5px 5px 0px #a67100,6px 6px 0px #a67100,7px 7px 0px #a67100,8px 8px 0px #a67100,9px 9px 0px #a67100,10px 10px 0px #a67100,11px 11px 0px #a67100,12px 12px 0px #a67100,13px 13px 0px #a67100,14px 14px 0px #a67100,15px 15px 0px #a67100,16px 16px 0px #a67100,17px 17px 0px #a67100,18px 18px 0px #a67100,19px 19px 0px #a67100,20px 20px 0px #a67100,21px 21px 0px #a67100,22px 22px 0px #a67100,23px 23px 0px #a67100,24px 24px 0px #a67100,25px 25px 0px #a67100,26px 26px 0px #a67100,27px 27px 0px #a67100,28px 28px 0px #a67100,29px 29px 0px #a67100,30px 30px 0px #a67100,31px 31px 0px #a67100,32px 32px 0px #a67100,33px 33px 0px #a67100,34px 34px 0px #a67100,35px 35px 0px #a67100,36px 36px 0px #a67100,37px 37px 0px #a67100,38px 38px 0px #a67100,39px 39px 0px #a67100,40px 40px 0px #a67100,41px 41px 0px #a67100,42px 42px 0px #a67100,43px 43px 0px #a67100,44px 44px 0px #a67100,45px 45px 0px #a67100,46px 46px 0px #a67100,47px 47px 0px #a67100,48px 48px 0px #a67100,49px 49px 0px #a67100,50px 100px 0px #a67100;
}
#main-visual > .contents .notice .contents .date .num {
  display: block;
  font-size: 48px;
}
#main-visual > .contents .notice .contents .txt {
  width: calc(100% - 100px);
  font-size: 14px;
  line-height: 1.5;
}
#main-visual > .contents .notice .contents .txt h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#main-visual > .contents .notice .contents .btns {
  display: none;
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: 2;
  transform: translateY(-50%);
}
#main-visual > .contents .notice .contents .btns i {
  font-size: 17px;
}
#main-visual > .contents .notice .contents .fraction-pagination {
  display: none;
  width: auto;
  position: absolute;
  top: 50%;
  right: 110px;
  bottom: auto;
  left: auto;
  font-size: 17px;
  font-weight: 500;
  transform: translateY(-50%);
}

.section {
  padding: 50px 20px;
}
.section .title-box {
  letter-spacing: -0.025em;
}
.section .title-box h2 {
  margin-bottom: 30px;
  font-size: clamp(18px, 8vw, 24px);
  line-height: 1.3;
}
.section .title-box h2 br {
  content: "";
}
.section .title-box h2 strong {
  font-weight: 700;
  color: #034a81;
}
.section .title-box p {
  margin-bottom: 30px;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  word-break: keep-all;
}
.section .more {
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 60px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  box-sizing: border-box;
  background-color: #034a81;
}
.section .more::after {
  display: block;
  font-family: "FontAwesome";
  color: #9cafb8;
  content: "\f061";
}

#research {
  position: relative;
  overflow: hidden;
  padding-top: 160px;
}
#research .title-box {
  text-align: center;
}
#research .title-box .btns {
  display: none;
  justify-content: space-between;
  width: 300px;
  margin-left: -30px;
}
#research .title-box .btns .btn {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 50px;
  padding: 0px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #ccc;
}
#research .title-box .btns .btn-prev::before {
  font-family: "FontAwesome";
  content: "\f060";
}
#research .title-box .btns .btn-next::after {
  font-family: "FontAwesome";
  content: "\f061";
}
#research .title-box .more {
  display: none;
}
#research .banner {
  overflow: hidden;
}
#research .banner .mask {
  overflow: hidden;
}
#research .banner .mask li .img-box {
  height: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#research .banner .mask li .img-box img {
  height: 60px;
}
#research .banner .mask li .txt-box h3 {
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: 19px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#research .banner .mask li .txt-box .date {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #aaa;
}
#research .banner .mask li .txt-box .date i {
  margin-left: 10px;
  font-size: 24px;
  color: #034a81;
}

#fund .title-box {
  text-align: center;
}
#fund .title-box p {
  display: block;
  color: #111;
  padding-left: 150px;
}
#fund .title-box p .fa-solid {
  color: #034a81;
}
#fund .fund-list {
  border-top: 4px solid #222;
}
#fund .fund-list li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
#fund .fund-list li.on .main {
  display: none;
}
#fund .fund-list li.on .contents {
  display: flex;
}
#fund .fund-list li .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
#fund .fund-list li .main p {
  display: flex;
  align-items: center;
  line-height: 1.25;
}
#fund .fund-list li .main p::before {
  content: "";
  display: none;
  width: 4px;
  height: 4px;
  background-color: #0467b3;
  margin-right: 15px;
  border-radius: 100%;
}
#fund .fund-list li .main .date {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
}
#fund .fund-list li .main .date::before {
  content: "\f017";
  font-family: "FontAwesome";
  display: inline-block;
  margin-right: 10px;
}
#fund .fund-list li .contents {
  display: none;
  align-items: center;
}
#fund .fund-list li .contents .date {
  width: 80px;
  height: 80px;
  background-color: #0467b3;
  color: #fff;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  overflow: hidden;
  line-height: 1.25;
  text-shadow: 1px 1px 0px #034a81,2px 2px 0px #034a81,3px 3px 0px #034a81,4px 4px 0px #034a81,5px 5px 0px #034a81,6px 6px 0px #034a81,7px 7px 0px #034a81,8px 8px 0px #034a81,9px 9px 0px #034a81,10px 10px 0px #034a81,11px 11px 0px #034a81,12px 12px 0px #034a81,13px 13px 0px #034a81,14px 14px 0px #034a81,15px 15px 0px #034a81,16px 16px 0px #034a81,17px 17px 0px #034a81,18px 18px 0px #034a81,19px 19px 0px #034a81,20px 20px 0px #034a81,21px 21px 0px #034a81,22px 22px 0px #034a81,23px 23px 0px #034a81,24px 24px 0px #034a81,25px 25px 0px #034a81,26px 26px 0px #034a81,27px 27px 0px #034a81,28px 28px 0px #034a81,29px 29px 0px #034a81,30px 30px 0px #034a81,31px 31px 0px #034a81,32px 32px 0px #034a81,33px 33px 0px #034a81,34px 34px 0px #034a81,35px 35px 0px #034a81,36px 36px 0px #034a81,37px 37px 0px #034a81,38px 38px 0px #034a81,39px 39px 0px #034a81,40px 40px 0px #034a81,41px 41px 0px #034a81,42px 42px 0px #034a81,43px 43px 0px #034a81,44px 44px 0px #034a81,45px 45px 0px #034a81,46px 46px 0px #034a81,47px 47px 0px #034a81,48px 48px 0px #034a81,49px 49px 0px #034a81,50px 100px 0px #034a81;
}
#fund .fund-list li .contents .date strong {
  font-size: 24px;
}
#fund .fund-list li .contents .txt {
  width: calc(100% - 80px);
  box-sizing: border-box;
  padding-left: 20px;
}
#fund .fund-list li .contents a {
  padding: 0 0 0 0px;
  font-size: 14px;
  line-height: 1.5;
}
#fund .fund-list li .contents a:hover {
  text-decoration: underline;
}
#fund .fund-list li .contents a .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
#fund .fund-list li .contents a .desc {
  opacity: 0.5;
}
#fund .fund-list li .contents .img-box {
  display: none;
  margin-left: auto;
}

.btn-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  background-color: #0467b3;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  opacity: 0;
  transition: all 0.25s ease;
}
.btn-top.on {
  bottom: 50px;
  transform: scale(1);
  opacity: 1;
}

#about {
  background: url(../images/main/bg_main_about.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff;
}
#about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .title-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#about .title-box h2 {
  width: 100%;
  line-height: 1.2;
  font-weight: 900;
  font-size: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px 0;
  text-align: center;
}
#about .title-box h2 br {
  display: block;
}
#about .title-box p {
  color: #fff;
  text-align: center;
  width: 100%;
  line-height: 1.25;
  font-size: 15px;
}
#about .title-box .since {
  font-weight: 900;
  opacity: 0.5;
  font-size: 15px;
}
#about .organization ul {
  display: flex;
  flex-wrap: wrap;
}
#about .organization ul li {
  width: calc(50% - 10px);
  margin: 5px;
}
#about .organization ul li a {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18;
  font-weight: 500;
  height: 120px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  line-height: 1.25;
}
#about .organization ul li a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(../images/main/bg_watermark.png);
  background-repeat: no-repeat;
  color: #0467b3;
  transition: all 0.25s ease;
}
#about .organization ul li a:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffc240;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.25s ease;
}
#about .organization ul li a::after {
  content: "\f055";
  font-family: "FontAwesome";
  font-size: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#department .contents-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 80px;
}
#department .contents-box .contents {
  margin-top: 50px;
}
#department .contents-box .contents:nth-child(1) {
  margin-top: 0;
}
#department .contents-box .contents .title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  border-bottom: 3px solid #000;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#department .contents-box .contents .title h3 {
  font-size: 23px;
  color: #333;
}
#department .contents-box .contents .title a {
  color: #aaa;
}
#department .contents-box .contents .title a::after {
  content: "\f055";
  font-family: "FontAwesome";
  margin-left: 10px;
  color: #0467b3;
  font-size: 23px;
}
#department .contents-box .contents ul {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
#department .contents-box .contents ul li {
  width: calc(50% - 20px);
  margin: 10px;
}
#department .contents-box .contents ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 180px;
  border: 1px solid #ddd;
}
#department .contents-box .contents ul li a img {
  width: 60px;
}
#department .contents-box .contents ul li a span {
  margin-top: 20px;
  font-weight: 500;
  color: #666;
}
#department .title-box {
  text-align: center;
}

#community {
  padding-bottom: 100px;
  background: url(../images/main/bg_main_community.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff;
}
#community .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#community .title-box {
  color: #fff;
  position: relative;
  text-align: center;
}
#community .title-box br {
  display: block;
}
#community h2 strong {
  color: #fff;
}
#community p {
  color: rgba(255, 255, 255, 0.5);
}
#community .fraction {
  font-size: 13px;
  letter-spacing: 0.025em;
}
#community .fraction .number {
  color: rgba(255, 255, 255, 0.5);
}
#community .pagination {
  position: relative;
  height: 4px;
  width: 100%;
  margin: 0px;
}
#community .swiper-pagination-progressbar {
  background: rgba(255, 255, 255, 0.5);
}
#community .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #fff;
}
#community .control {
  display: flex;
  align-items: center;
}
#community .control .fraction {
  display: none;
}
#community .control .btn {
  display: none;
}
#community .banner {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
#community .banner li img {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
#community .link {
  margin-top: 50px;
}
#community .link ul li {
  margin: 5px 0;
}
#community .link ul li:hover a, #community .link ul li.on a {
  background-color: #fff;
  color: #023c68;
  border-left-color: #ffc240;
}
#community .link ul li a {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #023c68;
  padding-left: 30px;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 15px;
  border-left: 5px solid transparent;
}